@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./glitch.css";
@import "./rooms/groundFloor.css";
@import "./rooms/firstFloor.css";
@import "./rooms/secondFloor.css";
@import "./rooms/fifthFloor.css";

@layer base {
  @font-face {
    font-family: OCR-A;
    font-weight: 400;
    src: url(../assets/fonts/OCR-A/OCR-AStd-Regular.ttf);
  }
  @font-face {
    font-family: BundesSans;
    font-weight: 400;
    src: url(../assets/fonts/BundesSans/BundesSans-Regular.ttf);
  }
  @font-face {
    font-family: DotPassport;
    font-weight: 400;
    src: url(../assets/fonts/dot/dot.ttf);
  }
  @font-face {
    font-family: DotCapital;
    font-weight: 400;
    src: url(../assets/fonts/dotCapital/dotCapital.ttf);
  }
  @font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/google-icons.woff2) format("woff2");
  }
  .material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 0;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }
  h1 {
    @apply text-xl sm:text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  p {
    @apply mb-6;
  }
  quote {
    display: block;
    @apply ml-8 italic border-l-gray-200 border-l-4 pl-4 my-6;
  }
  a {
    @apply hover:underline hover:text-black;
    @apply cursor-pointer;
  }
  li {
    @apply list-disc list-inside mb-1 ml-4;
  }
  .blur-text {
    color: transparent;
    /* text-shadow: <blur>, <outer-glow> */
    text-shadow: 0 0 5px theme("colors.black"), theme("colors.black") 0 0 15px;
  }

  .blur-text-small {
    color: transparent;
    /* text-shadow: <blur>, <outer-glow> */
    text-shadow: 0 0 7px theme("colors.black"), theme("colors.black") 0 0 2px;
  }

  .blur-text-smaller {
    color: transparent;
    /* text-shadow: <blur>, <outer-glow> */
    text-shadow: 0 0 5px theme("colors.black"), theme("colors.black") 0 0 1.5px;
  }
  .bright-gray {
    --tw-grayscale: grayscale(100%);
    --tw-brightness: brightness(1.5);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
      var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
      var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
  .bright-non-gray {
    --tw-grayscale: grayscale(0);
    --tw-brightness: brightness(1.5);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
      var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
      var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
}

.textbox {
  @apply bg-[rgba(255,255,255,0.65)] p-6; /* Customize as needed */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: white;
  position: relative;
  overscroll-behavior-x: contain;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("bg.png");
  background-color: rgba(243, 228, 189, 0.4);

  /* cover horizontally and repeat vertically https://stackoverflow.com/questions/41025630/css-background-image-stretch-horizontally-and-repeat-vertically */
  background-size: 100% auto;
  background-repeat: repeat-y;

  /* background-size: cover; */
  opacity: 0.5;
  z-index: -1;
}

.mouse {
  height: 60px;
  width: 32px;
  border: 3px solid black;
  border-radius: 32px;
  position: relative;
  .scrollWheel {
    height: 20px;
    width: 2px;
    background: black;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10px;
    border-radius: 1px;
    transform: scaleY(0);
    animation: scroll 2s linear infinite;
  }
}

@keyframes scroll {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  25% {
    transform: scaleY(1);
    transform-origin: top;
  }
  26% {
    transform-origin: bottom;
  }
  50% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}

/* 
#__gatsby, #gatsby-focus-wrapper {
  height: 100vh; */
/* background: url(grain-opacity.png), linear-gradient(5deg, #3A2F18 -25%, #0E0C06 15% ); */
/* background: url(grain-opacity-compressed.png), linear-gradient(5deg, #3A2F18 -10%, rgba(14, 12, 6, 0) 25% ), radial-gradient( farthest-corner at top left, rgba(14,14,14) 0%, rgba(125,125,125,0.6) 150%); */
/* background-blend-mode: overlay, overlay; */
/* overflow-y: auto; */
/* } */

/* #__gatsby, #gatsby-focus-wrapper::after {
  content: "";
  /* background: #1E1E1E; */
/* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  padding-bottom: 3rem;
} */

.decorate-links a {
  text-decoration: underline;
  color: theme("colors.berlin-red");
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.fake-bold {
  letter-spacing: 1px;
  font-weight: normal;
  text-shadow: 1px 0 0 currentColor;
}

.fake-delete {
  text-decoration: line-through;
}

.fade-in-left {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.fade-out-left {
  /* exact size of the sidebar = 13rem */
  transform: translate(-13rem);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.fade-in-right {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.fade-out-right {
  /* exact size of the sidebar = 13rem */
  transform: translate(13rem);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.light-up {
  animation: light-up-animation 2s ease infinite;
}

@keyframes light-up-animation {
  0%,
  100% {
    opacity: 80%;
  }
  50% {
    opacity: 30%;
  }
}

.light-up-delayed {
  animation: light-up-animation 2s ease infinite;
  animation-delay: 1s;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  11% {
    opacity: 0.7;
  }
  25% {
    opacity: 0.1;
  }
  29% {
    opacity: 0.6;
  }
  40% {
    opacity: 0, 95;
  }
  50% {
    opacity: 0;
  }
  72% {
    opacity: 0.66;
  }
  80% {
    opacity: 0.92;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.animate-flicker {
  animation: flickerAnimation 1.5s ease;
}

@keyframes pulse {
  50% {
    opacity: 0.2;
  }
}
.animate-pulse-faster {
  animation: pulse 1.25s ease-in-out infinite;
}
