
.wildenbruch {
  position: absolute;
  clip-path:polygon(29.5% 70%, 35% 63.5%, 35.5% 72.5%, 50% 72.5%, 50% 95%, 29.5% 95%);
  opacity: 0.5;
  background-color: darkorange;
  width: 100%;
  height: 100%;
}

.wildenbruch:hover {
  cursor: pointer;
  opacity: 0.8;
}

.persius {
  position: absolute;
  clip-path:polygon(52% 36%, 60.5% 29%, 60.5% 73%, 52% 73%);
  opacity: 0.5;
  background-color: blue;
  width: 100%;
  height: 100%;
}

.persius:hover {
  cursor: pointer;
  opacity: 0.8;
}

.parlour {
  position: absolute;
  clip-path:polygon(69% 24.5%, 76.5% 20%, 76.5% 73%, 69% 73%);
  opacity: 0.5;
  background-color: greenyellow;
  width: 100%;
  height: 100%;
}

.parlour:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cinema {
  top:0;
  left:0;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-color: red;
  animation: blinker 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  clip-path:polygon(88% 13%, 96.5% 8%, 99% 45%, 99% 54%, 91% 54%);
}

.cinema:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cinebar {
  top:0;
  left:0;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-color: red;
  animation: blinker 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  clip-path:polygon(95% 55%, 99.5% 55%, 99.5% 88%, 95% 88%);
}

.cinebar:hover {
  cursor: pointer;
  opacity: 0.8;
}