@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.yard0 {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: blinker 1s linear infinite;
  clip-path: polygon(
    76.5% 15%,
    86.2% 10.5%,
    89% 58%,
    87.2% 58%,
    87.2% 73.5%,
    85% 73.5%,
    85% 97.5%,
    83% 97.5%,
    83% 73%,
    80.5% 73%,
    80.5% 69.5%,
    76.5% 69.5%
  );
}

.nodeCafe {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: blinker 1s linear infinite;
  clip-path: polygon(86.5% 10%, 96% 5%, 99.5% 58%, 89% 58%);
}

.yard1 {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: blinker 1s linear infinite;
  clip-path: polygon(
    57% 42.5%,
    68% 42.5%,
    68% 71%,
    65% 71%,
    65% 95%,
    62% 95%,
    62% 71%,
    57% 71%
  );
}

.restaurant {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: blinker 1s linear infinite;
  clip-path: polygon(57% 27%, 76.5% 15%, 76.5% 71%, 68% 71%, 68% 43%, 57% 43%);
}

.yard2 {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-color: red;
  animation: blinker 1s linear infinite;
  clip-path: polygon(33% 47.5%, 53.8% 28.5%, 53.8% 65%, 34.5% 65%);
}

.lexis {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: blinker 1s linear infinite;
  clip-path: polygon(48.5% 33%, 57% 24.5%, 57% 95.5%, 48.5% 95.5%);
}

.giftShop {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-color: black;
  clip-path: polygon(
    14% 67.5%,
    21% 61.5%,
    21.5% 68.5%,
    28.5% 61.5%,
    29.5% 71%,
    32.5% 71%,
    32.5% 97%,
    14% 97%
  );
  animation: blinker 1s linear infinite;
}

.main-enterence {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-color: red;
  animation: blinker 1s linear infinite;
  clip-path: polygon(79% 88%, 89% 88%, 89% 100%, 79% 100%);
}

.registration {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-color: red;
  animation: blinker 1s linear infinite;
  clip-path: polygon(91% 88%, 100% 88%, 100% 100%, 91% 100%);
}

.xrRoom {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-color: red;
  animation: blinker 1s linear infinite;
  clip-path: polygon(95.5% 56%, 99.3% 56%, 99.3% 79%, 95.5% 79%);
}
